<%= render :partial => 'layouts/menu' %>

<%= @role %>

<div align='left'>
  <%= calendar @timesheets do |event| %>
	 <div><%= event.title %></div>
      <% else %>
	 <div><%= link_to event.title, event %></div>
      <% end %>
  <% end %>
</div>