<%= render :partial => 'layouts/menu' %>
<div class='left-margin span12' style="padding-top: 30px">
  <div align='right' style='margin-bottom: -50px;'>
     <% if @ms %>
      Status: <%= @ms.status %>
      <% if @ms.status == 'trimis' && @ms.user.department.chief.include?(current_user) %>
	<%= button_to 'Accepta', dashboard_accept_path(@ms.id) %>
	<%= button_to 'Respinge', dashboard_reject_path(@ms.id) %>
      <% else %>
	 <%= submit_timesheet_button %>
      <% end %>
     <% end %>
  </div>
<div align='left'>
  <%= calendar @timesheets, :start_day => :monday do |event| %>
    <%= link_to event.name, daily_sheet_path(event.daily_sheet.id) %> <br />
  <% end %>
</div>
