<%= render :partial => 'layouts/menu' %>


<table>
<tr>
<td style="width:700px;" valign="top">
  <table width=100%>
	<tr>
	  <td style="text-align:center">
		<div class="new">
		  <%= calendar @timesheets, :start_day => :monday do |event| %>
		  <%= link_to event.name, daily_sheet_path(event.daily_sheet.id) %> <br />
		  <% end %>
		</div>
	  </td>
	</tr>
  </table>
</td>
<td style="width:400px;background-color:#ECEEF0">
  <table style="width:400px;background-color:#ECEEF0" align="center">
	<tr>
	  <td  align="center">
				  <span class="glyphicon glyphicon glyphicon-transfer"></span>
<br/>
		<% if @ms %>
		Status: <%= @ms.status %>
		<%= 'Motivul: ' + @ms.reason if @ms.status == 'respins' %>
		<% if @ms.status == 'trimis' && @ms.user.department.chief.include?(current_user) %>
		
		<%= button_to 'Accepta', dashboard_accept_path(@ms.id) %>
		<%= button_to 'Respinge', 'javascript:reason();' %>
		<%= form_tag({:action => 'reject'}, :method => :post) %>
		<%= hidden_field :reject, "reason" %>
		<%= submit_tag 'Save', :id => 'respingee', :style => "display:none" %>
		<% else %>
		<%= submit_timesheet_button %>
		<% end %>
		<% end %>         
		
	  </td>
	</tr>
  </table>
</td>
</tr>
</table>