<%= render :partial => 'layouts/menu' %>

<table align="center">
  <tr>
    <td style="width:900px;height:300px" valign="top">
      <table class="detalii_angajat" width="100%">
        <tr>
          <th>Intern id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Division</th>
          <th> </th>
          <th> </th>
        </tr>
        <% @employees.each do |u| %>
        <tr>
          <td><%= u.internal_id %></td>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= u.email %></td>
          <td><%= u.department.name if u.department %></td>
          <td><%= u.division.name if u.division %> </td>
          <td><%= u.roles.first %></td>
          <td><%= link_to 'Timesheet', dashboard_path(u.monthly_sheets.order(:month).last) %></td>
          <td><%= link_to 'Activitate', user_report_path(u.id) %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>