<%= render :partial => 'layouts/menu' %>

<table style="border-bottom:15px solid #69BC9C">
  <tr>
    <td style="width:500px;height:100px" valign="top">
      <table width=100%>
        <tr>
          <td>
            <div class="new">
              <%= form_tag(clients_report_index_path, :method => 'get') do %>
              Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %></br></br>
  Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %>
</td>
        </tr>
      </table>
    </td>
    <td>
      <table style="width:600px;height:100px;background-color:#69BC9C" align="center">
        <tr>
          <td  align="center">
            <span class="glyphicon glyphicon-eye-open"></span>
            <br>
			<%= submit_tag 'Afisare', :class => 'btn', :style => 'margin-right: 10px;' %><% end %>
</tr>
      </table>
    </td>
  </tr>
</table> 
<script>

    var chart;
    var legend;
    <% n = 0 %>
    <% @clients.each do |k, v| %>
    var chartData<%= n %> = [


        <% v.each_with_index do |(k2, v2), i| %>
        {
            "proiect": "<%= k2 %>",
            "ore": "<%= v2 %>"
        } <%= ',' unless i == v.size - 1 %>
        <% end %>

    ];
    <% n += 1 %>
    <% end %>

    <% 0.upto n do |i| %>
    AmCharts.ready(function () {
        // PIE CHART
        chart = new AmCharts.AmPieChart();
        chart.dataProvider = chartData<%= i %>;
        chart.titleField = "proiect";
        chart.valueField = "ore";
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.outlineThickness = 2;
        chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";

        // WRITE
        chart.write("chartdiv<%= i %>");
    });
    <% end %>
</script>


<% 0.upto n do |i| %>
	  <table style="border-bottom:5px solid #34495E;width:100%">
	<tr>
	<td>
    <h2><%= @clients.keys[i] %></h2>
	<div style="height:5px;width:100%;background-color:#69BC9C"></div>
	</td></tr>
	<tr><td>
    <div id="chartdiv<%= i %>" style="width: 100%; height: 362px;"></div>
	</td></tr>
	</table>
<% end %>
<span class="glyphicon glyphicon-download" style="background-color:#69BC9C;display:block">Descarca</span>
