<table>
  <tr>
    <td style="width:700px;height:300px" valign="top">
      <table width=100%>
        <tr>
          <td>
            <div class="new">
<%= label :department, 'Name' %>
<%= text_field :department, 'name' %>
<br />
<%= label :department, "Division" %>
<%= select :department, 'division_id', Division.all.pluck(:name, :id) %>
</div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table style="width:400px;height:300px;background-color:#ECEEF0" align="center">
        <tr>
          <td  align="center">
              <span class="glyphicon glyphicon-floppy-save"></span>
            <br>
            <%= submit_tag 'Save', :class => 'btn btn-primary' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>