<% content_for :menu do %>
   <ul class="nav">
      <li class="dropdown">
	 <a data-toggle="dropdown" class="dropdown-toggle" href="#">Adminstrare<b class="caret"></b></a>
	 <ul class="dropdown-menu">
	    <li><%= link_to 'Users', :admin_users %></li>
	    <li><%= link_to 'Divisions', :admin_divisions %></li>
	    <li><%= link_to 'Departments', :admin_departments %></li>
	    <li><%= link_to 'Audit', :admin_audit_index %></li>
	    <li><%= link_to "Log Out", :destroy_user_session, :method => :delete %> </li>
	 </ul>
      </li>
   </ul>
<% end %>
