<%= render :partial => 'layouts/menu' %>
<table align="center">
  <tr>
    <td style="width:900px;height:300px" align="center">
      <table class="detalii_angajat" width="100%" align="center">
        <tr>
          <th>Id intern</th>
          <th>Prenume</th>
          <th>Nume</th>
          <th>Email</th>
          <th>Department</th>
          <th>Divizie</th>
          <th>Rol</th>
          <th> </th>
          <th> </th>
        </tr>
        <tr>
          <td><%= @user.internal_id %></td>
          <td><%= @user.first_name %></td>
          <td><%= @user.last_name %></td>
          <td><%= @user.email %></td>
  	  <td><%= @user.department.name if @user.department %></td>
  	  <td><%= @user.division.name if @user.department %></td>
          <td><%= @user.roles.first %></td>
	 </tr>
      </table>
    </td>
  </tr>
</table>

