<table>
   <tr>
      <th>Activitate</th>
      <th>Proiect</th>
      <th>Client</th>
      <th>Numar Ore</th>
      <th> </th>
   </tr>   
   <% if @ds && @ds.tasks %>
      <% @ds.tasks.each do |t| %>
	<tr>
	 <td><%= t.activity %></td>
	 <td><%= t.project.name %></td>
	 <td><%= t.project.client.name %></td>
	 <td><%= t.number_of_hours %></td>
	 <td><%= link_to 'Modifica', edit_task_path(t.id) %></td>
	 <td><%= button_to 'Sterge', task_path(t.id), :method => :delete, :data => {:confirm => 'Esti sigur?'} %></td>
	</tr>
      <% end %>   
   <% end %>
</table>