<%= form_tag({:action => 'index'}, :method => :get) %>
Data: <%= date_select :daily_sheet, 'date' %>
<%= submit_tag 'Afisare/Completare', :class => 'btn', :style => 'margin-right: 10px;' %>

<table>
   <tr>
      <th>Activitate</th>
      <th>Proiect</th>
      <th>Client</th>
      <th>Numar Ore</th>
   </tr>   
   <% if @ds && @ds.tasks %>
      <% @ds.tasks.each do |t| %>
	<tr>
	 <td><%= t.activity %></td>
	 <td><%= t.project.name %></td>
	 <td><%= t.project.client.name %></td>
	 <td><%= t.number_of_hours %></td>
	</tr>
      <% end %>   
   <% end %>
</table>

