<%= render :partial => 'layouts/menu' %>

      <table class="detalii_angajat" width="100%" style="text-align:center">
        <tr>
          <th>Id</th>
          <th>Nume</th>
          <th>Divizie</th>
          <th> </th>
          <th></th>
        </tr>
        <% @departments.each do |u| %>
            <tr>
              <td><%= u.id %></td>
              <td><%= u.name %></td>
              <td><%= u.division.name if u.division %></td>
              <td><%= link_to 'Raport', department_path(u.id) %></td>
              <td><%= link_to 'Angajati', employee_path(u.id) %></td>
            </tr>
        <% end %>
      </table>
    