<%= render :partial => 'layouts/menu' %>

<div class="new">
  Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %>
  Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %>
  <br />
  <%= submit_tag 'Afisare', :class => 'btn', :style => 'margin-right: 10px;' %>
</div>

<div>
  <table>
    <tr>
      <th>Proiect</th>
      <th><%= link_to 'Ore', sort_link %></th>
      <th> </th>
    </tr>
    <% @projects.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
    <% end %>
  </table>
</div>