<div class="new">
  Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %>
  Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %>
  <br />
  <%= submit_tag 'Afisare', :class => 'btn', :style => 'margin-right: 10px;' %>
</div>

<div>
  <% @projects.each do |k, v| %>
      <%= k %> <%= v %> h
  <% end %>
</div>