<%= render :partial => 'layouts/menu' %>
<% if @search %>
    <%= form_tag(:search_project_report_index, :method => 'get') do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Cautare", :name => nil %>
    <% end %>
<% else %>
    <%= link_to "Proiect Nou", :new_project %>
<% end %>
<table>
   <tr>
      <th>ID</th>
      <th>Nume proiect</th>
      <th>Nume client</th>
      <th> </th>
      <th> </th>
   </tr>   
      <% @projects.each do |p| %>
	<tr>
	 <td><%= p.id %></td>
	 <td><%= p.name %></td>
	 <td><%= p.client.name %></td>
     <% if @search %>
          <td><%= link_to 'Raport', project_report_path(p.id) %></td>
     <% else %>
         <td><%= link_to 'Editare', edit_project_path(p.id) %></td>
         <td><%= link_to 'Sterge', { action: :destroy, id: p.id }, method: :delete, data: { confirm: 'Esti sigur?' } %></td>
     <% end %>
	</tr>
      <% end %>   
</table>