<%= render :partial => 'layouts/menu' %>

<table>
   <tr>
      <th>ID</th>
      <th>Nume proiect</th>
      <th>Nume client</th>
      <th> </th>
      <th> </th>
   </tr>   
      <% @projects.each do |p| %>
	<tr>
	 <td><%= p.id %></td>
	 <td><%= p.name %></td>
	 <td><%= p.client.name %></td>
	 <td><%= link_to 'Editare', edit_project_path(c.id) %></td>
	 <td><%= link_to 'Sterge', { action: :destroy, id: c.id }, method: :delete, data: { confirm: 'Esti sigur?' } %></td>
	</tr>
      <% end %>   
</table>