<%= render :partial => 'admin/menu' %>

<table>
  <tr>
    <td style="width:800px;height:300px" valign="top">
      <table class="detalii_angajat" width="100%">
        <tr>
          <th>Intern id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Division</th>
          <th>Role</th>
          <th> </th>
        </tr>
        <% @users.each do |u| %>
        <tr>
          <td><%= u.internal_id %></td>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= u.email %></td>
          <td><%= u.department.name if u.department %></td>
          <td><%= u.division.name if u.division %> </td>
          <td><%= u.roles.first %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(u.id) %><td/>
          <td><%= link_to 'Delete', { action: :destroy, id: u.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        </tr>
        <% end %>
      </table>
    </td>
    <td style="width:200px;height:300px;background-color:#ECEEF0" align="center">
      <table>
        <tr>
          <td >
            <%= link_to 'New User', :new_admin_user %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>