<%= render :partial => 'layouts/menu' %>

<%= form_tag(:user_report_index, :method => 'get') do %>

<table>
  <tr>
    <td style="width:700px;height:300px" valign="top">
      <table width=100%>
        <tr>
          <td>
            <div class="new">
    Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %><br/>
    Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %><br/>
    ID angajat: <%= text_field_tag :search, params[:search] %>
	</div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table style="width:400px;height:300px;background-color:#ECEEF0" align="center">
        <tr>
          <td  align="center">
            <span class="glyphicon glyphicon-search"></span>
            <br>
    <%= submit_tag "Cautare", :name => nil %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>              
<% end %>