<%= render :partial => 'layouts/menu' %>

<script>

var chart;
var legend;
<% n = 0 %>
<% @projects.each do |k, v| %>
    var chartData<%= n %> = [


        <% v['activities'].each_with_index do |(k2, v2), i| %>
        {
           "activitate": "<%= k2 %>",
           "ore": "<%= v2 %>"
        } <%= ',' unless i == v['activities'].size - 1 %>
        <% end %>

    ];
    <% n += 1 %>
<% end %>

<% 0.upto n do |i| %>
    AmCharts.ready(function () {
    // PIE CHART
    chart = new AmCharts.AmPieChart();
    chart.dataProvider = chartData<%= i %>;
    chart.titleField = "activitate";
    chart.valueField = "ore";
    chart.outlineColor = "#FFFFFF";
    chart.outlineAlpha = 0.8;
    chart.outlineThickness = 2;
    chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";

    // WRITE
    chart.write("chartdiv<%= i %>");
    });
<% end %>
</script>
<% 0.upto n do |i| %>
    <div id="chartdiv<%= i %>" style="width: 100%; height: 362px;"></div>
<% end %>

<div class="new">
Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %>
Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %>
<br />
<%= submit_tag 'Afisare', :class => 'btn', :style => 'margin-right: 10px;' %>
</div>

<div>
<% @projects.each do |k, v| %>
  <div>
	<h3><%= k %> <%= v['hours'] %> ore</h3>
	<% v['activities'].each do |k, v| %>
		<%= k %> <%= v %> ore
		<br />
	<% end %>
  </div>

<% end %>
</div>

