<%= render :partial => 'layouts/menu' %>

<script>

var chart;
var legend;

var chartData = [
{
	"country": "Czech Republic",
	"litres": 301.9
},
{
	"country": "Ireland",
	"litres": 201.1
},
{
	"country": "Germany",
	"litres": 165.8
},
{
	"country": "Australia",
	"litres": 139.9
},
{
	"country": "Austria",
	"litres": 128.3
},
{
	"country": "UK",
	"litres": 99
},
{
	"country": "Belgium",
	"litres": 60
}
];

AmCharts.ready(function () {
// PIE CHART
chart = new AmCharts.AmPieChart();
chart.dataProvider = chartData;
chart.titleField = "country";
chart.valueField = "litres";
chart.outlineColor = "#FFFFFF";
chart.outlineAlpha = 0.8;
chart.outlineThickness = 2;
chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";

// WRITE
chart.write("chartdiv");
});

</script>


<div class="new">
Data Start: <%= date_select :report_date, 'date_start', selected: @date_start %>
Data Sfarsit: <%= date_select :report_date, 'date_finish', selected: @date_finish %>
<br />
<%= submit_tag 'Afisare', :class => 'btn', :style => 'margin-right: 10px;' %>
</div>

<div>
<% @projects.each do |k, v| %>
  <div>
	<h3><%= k %> <%= v['hours'] %> ore</h3>
	<% v['activities'].each do |k, v| %>
		<%= k %> <%= v %> ore
		<br />
	<% end %>
  </div>

<% end %>
</div>

<div id="chartdiv" style="width: 100%; height: 362px;"></div>