<!DOCTYPE html>
<html>
  <head>
    <title>TimesheetManagement</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="shortcut icon" rel="images/favicon.ico">
    <script src="/amcharts/amcharts.js"></script>
    <script src="/amcharts/pie.js"></script>
    <script src="/js/html2canvas.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/libs/FileSaver.js/FileSaver.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/libs/Blob.js/Blob.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/libs/Blob.js/BlobBuilder.js"></script>

    <script type="text/javascript" src="/jsPDF-0.9.0rc2/libs/Deflate/deflate.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/libs/Deflate/adler32cs.js"></script>

    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.from_html.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.ie_below_9_shim.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.sillysvgrenderer.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="/jsPDF-0.9.0rc2/jspdf.plugin.standard_fonts_metrics.js"></script>
    
  </head>
  <body style="background-color:#69BC9C;width:1200px;height:700px;	margin:0px auto;">
    
    <nav class="navbar navbar-default center" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-time"></span>
          </button>	ISI 
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= yield :menu %>
      </div>
      
    </nav>

    <hr>
    <ol class="breadcrumb">
      <li class="active">
          <% if alert %>
<p class="alert" id="alert"><%= alert %></p>
<% end %>
      </li>
    </ol>
    <hr>
    <div class="center2">
      <%= yield %> 
    </div>
    
  </body>
</html>
